/* Общие */
@font-face {
    font-family: "TT Lakes Regular";
    src: url("../fonts/TTLakes-Regular.ttf");
}
@font-face {
    font-family: "TT Lakes Bold";
    src: url("../fonts/TTLakes-Bold.ttf");
}
@font-face {
    font-family: "TT Lakes Medium";
    src: url("../fonts/TTLakes-Medium.ttf");
}
body{
    width: 100%;
    font-family: "TT Lakes Regular", "sens-serif";
    background-color: #F8F8F8;
}
/* Mobile 320 px*/
/* Header */
.header, .content__top-box, .content{
    margin-bottom: 24px;
}
.header {
    display: flex;
    width: inherit;
    height: 87px;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    justify-content: space-between;
    background-color: #fff;
}
.container-positioner {
    display: inherit;
    width: inherit;
    margin-left: 16px;
    margin-right: 16px;
}
.container-positioner--header {
    margin-top: 24px;
    margin-bottom: 17.6px;
}
.header__section--left, .header__section--right {
    display: flex;
    align-items: center;
    justify-content: left;
}
.header__section--right {
    margin-left: auto;
}
.header .header__section--left::after{
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border: none;
    border-radius: 1px;
}
.header__section--right .nav__list {
    display: flex;
}
.header .header__menu-img {
    margin-right: 16.73px;
}
/* header__logo - общие стили */
.header__logo {
    width: 96.55px;
    height: 50.81px;
    margin-right: 16.73px;
}
.icon-1 {
    margin-right: 16px;
}
.icon {
    width: 40px;
    height: 40px;
}
.button {
    display: flex;
    align-items: center;
    font-family: "TT Lakes Medium", "sens-serif";
}
.header__nav .nav__link p{
    display: none;
}

.button:hover, .nav__link:hover,
.button:hover, .link:hover,
.address__email:hover,
.address__phone:hover{
    opacity: 0.7;
    cursor: pointer;
    transition-duration: 1s;
}
/* Main - title */
.main .content__title::before {
    content: "";
    display: table;
    border: 4px solid #41F6D7;
    border-radius: 6px;
    position: absolute;
    left: -4px;
    top: 112px;
    height: 32px;
}
.content__top-box {
    display: flex;
    align-items: center;
    height: 40px;
}
.content .content__title{
    font-family: "TT Lakes Bold", "sens-serif";
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    z-index: 999;
}

/* Main - nav */
.content__nav {
    height: 40px;
    overflow: scroll;
    -ms-overflow-style: none;
    margin-bottom: 24px;
}
.content__nav::-webkit-scrollbar {
    display: none;
}
.content__nav .nav__list {
    display: inline-flex;
}
.content__nav .nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
}
.nav__link, .button__title-text {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}
.content__nav .nav__link {
    display: block;
    color: #7E7E82;
}
.nav__list .nav__item {
    border: 2px solid rgba(184,255,236, 0);;
    border-radius: 6px;
}
.nav__list .nav__item.active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.nav__item.active .nav__link, .content__nav .nav__link {
    margin-left: 16px;
    margin-right: 9.3px;
}
.content__nav .nav__item:last-child {
    margin-right: 16px;
}

/* Градиент в меню */
.content__container--gradient {
    position: relative;
    overflow: hidden;
    margin-left: 16px;
}
.content__container--gradient::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 24px;
    pointer-events: none;
    z-index: 1;
}
.content__container--gradient::after {
    right: 0;
    background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0.01));
}

/* Main - text */
.content__text p {
    margin-bottom: 16px;
}
.text-show-more__icon {
    background-repeat: no-repeat;
    width: 7.4px;
    height: 10.3px;
    margin: 7px 16px 7px 8px;
}
.content__button {
    margin: 16px 0;
}
.content__image{
    height: 176px;
    position: absolute;
    left: 0;
}
.content__text--paragraf {
    max-height: 7lh;
    overflow: hidden;
}


/* Middle screen 321 px */
@media (min-width: 321px) {
    .header .header__section--left::after {
        display: none;
    }
    .container-positioner {
        margin-left: 24px;
        margin-right: 24px;
    }
    /* Header */
    .header .header__menu-btn::after{
        content: "";
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border: none;
        border-radius: 1px;
        margin-right: 20px;
    }

    /* Main */
    .content__container--gradient {
        margin-left: 24px;
    }
    .content__image {
        width: 100%;
        height: auto;
    }
    .content__button {
        margin-top: 10px;
    }

}

@media (min-width: 550px) {
    /* Main */
    .content__second-part {
        display: flex;
        align-items: start;
    }
    .content__second-part .content__text,  .content__second-part .content__image{
        width: 50%;
    }
    .content__text {
        margin-right: 48px;
    }
    .content__second-part .content__image{
        margin-left: auto;
        position: static;
    }
    .content__image {
        border-radius: 10px;
    }
}

/* High screen 769 px */
@media (min-width: 768px) {
    .container-positioner--header {
        margin-top: 42px;
    }
    .container-positioner {
        margin-left: 35px;
        margin-right: 35px;
    }
    /* Header */
    .header {
        position: absolute;
        top: 0;
        background-color: inherit;
        border: none;
    }
    .header__section--left {
        display: none;
    }
    .header__nav .nav__link {
        display: flex;
        align-items: center;
    }
    .header__nav .nav__link p {
        font-family: "TT Lakes Medium", "sens-serif";
        color: #1B1C21;
        display: block;
        margin-right: 8px;
    }

    /* Main */
    .main {
        margin-top: 36px;
    }
    .blue-line {
        clip-path: none;
        left: 0;
        width: 3px;
    }
    .main .content__title::before {
        content: "";
        display: table;
        border-radius: 6px;
        position: absolute;
        left: 0;
        top: 42px;
        height: 40px;
        width: 3px;
        background-color: #41F6D7;
        border: none
    }
    .content__container--gradient {
        margin-left: 35px;
    }
    .content__nav {
        height: auto;
    }
    .content__nav .nav__list {
        flex-wrap: wrap;
    }
    .content__text--paragraf {
        max-height: max-content;
        overflow: hidden;
    }
    .content__text {
        margin-right: 36px;
    }
    .content__button {
        margin-top: 13px;
    }
}


/* БЛОК 4 ПРОДВИНУТАЯ СТИЛИСТИКА : */
.container-positioner--modal-menu {
    margin-right: 24px;
    margin-left: 24px;
}
.modal-menu {
    display: flex;
    flex-direction: column;
    height: 1024px;
    position: absolute;
    left: 0;
    width: 320px;
    box-shadow: 16px 0px 52px 0px #0E185033,
    -2px 0px 4px 0px #454F7E05;
}


/* Modal Header */
.container-positioner--modal-menu__top {
    margin-top: 18.23px;
    margin-bottom: 42.27px;
}
.modal-menu .modal-menu__top {
    display: flex;
}
.modal-menu .modal-menu__close-icon {
    margin-right: 16.73px;
}
.modal-menu .modal-menu__search-btn {
    margin-left: auto;
}
.modal-menu__logo {
    margin-right: 16.73px;
}


/* Modal Middle */
.link {
    text-decoration: none;
}


.modal-menu .modal-menu__middle .nav__li {
    display: flex;
    height: 32px;
    margin-bottom: 26px;
}
.modal-menu .modal-menu__middle .nav__li.active::before {
    content: "";
    display: table;
    width: 8px;
    height: 32px;
    background-color: #41F6D7;
    position: absolute;
    left: -4px;
    border-radius: 6px;
}
.modal-menu .modal-menu__middle .nav__link,
.modal-menu .address__email,
.modal-menu .modal-menu__langs .langs__li a{
    font-family: "TT Lakes Medium";
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.modal-menu__adress {
    margin-bottom: 40px;
}
.modal-menu__langs {
    margin-bottom: 32px;
}
.modal-menu .modal-menu__middle .nav__li.active a,
.modal-menu .langs__li.active a{
    color: #7E7E82;
    align-self: center;
}


/* Modal Bottom */
.modal-menu .modal-menu__bottom {
    margin-top: auto;
}
.modal-menu .links,
.modal-menu .langs {
    display: flex;
}
.modal-menu .modal-menu__links {
    margin-bottom: 16px;
}
.modal-menu .modal-menu__links .button {
    margin-right: 16px;
}
.modal-menu .address__email,
.modal-menu .address__phone {
    display: block;
    text-decoration: none;
}
.modal-menu .address__email {
    margin-bottom: 12px;
}
.modal-menu .address__phone {
    font-family: "TT Lakes Bold";
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #1B1C21;
}
.modal-menu .modal-menu__langs .langs__li {
    margin-right: 7px;
}


/* БЛОК 5 JAVASCRIPT В БРАУЗЕРЕ : */
.brands__container {
    background-color: #F8F8F8;
}
.h2-title {
    font-family: "TT Lakes Regular";
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    text-transform: uppercase;
}
.brands .brands__title {
    padding: 15px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    border-top: 1px solid #D9FFF5;
}
.brands .brands__container {
    margin-top: 16px;
}
.brands .brands__list {
    display: flex;
}
.brands .brands__item {
    display: flex;
    width: 240px;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
}
/* Настройки слайдера swiper */
.swiper-pagination {
    position: static;
    margin-top: 6.4px;
}
.swiper-pagination-bullet {
    position: relative;
    top: 4px;
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #B5B6BC;
}
.swiper {
    margin-left: 16px;
    margin-right: 16px;
}
    /* Градиент */
.brands-container--gradient {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.brands-container--gradient::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 24px;
    pointer-events: none;
    z-index: 1;
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);

}
.brands__btn:focus, button:active {
    outline: none;
}
.brands__text-show-more-icon {
    transform: rotate(0deg);
    transition-duration: 0.3s;
}
.brands__text-show-more-icon.text-show-more__icon--rotate {
    transform: rotate(180deg);
    transition-duration: 0.3s;
}
.brands__btn--rotate::after {
    content: "Скрыть";
    display: table;
}
.brands__btn--non-rotate::after {
    content: "Показать все";
    display: table;
}
.brands .brands__btn {
    display: none;
    margin-bottom: 34px;
}

@media (min-width: 576px) and (max-width: 1015px){
    .brands__item.hidden:not(:nth-child(-n + 6)) {
        display: none;
    }
}
@media (min-width: 1016px) and (max-width: 1375px){
    .brands__item.hidden:not(:nth-child(-n + 8)) {
        display: none;
    }
}
@media (min-width: 1376px) {
    .brands__item.hidden:not(:nth-child(-n + 10)) {
        display: none;
    }
}

@media (min-width: 576px) {
    .brands__container {
        margin-right: 24px;
        margin-left: 24px;
    }
    .brands .brands__container {
        margin-top: 24px;
    }
    .brands .brands__list {
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 24px;
        margin-bottom: 24px;
        justify-content: flex-start;
    }
    .brands li.brands__item {
        width: 224px;
    }
    .brands .brands__btn {
        display: flex;
        margin-bottom: 14px;
    }
    .brands .brands__title {
        padding-left: 24px;
        padding-right: 24px;
    }

}
@media (min-width: 1120px) {
    .brands .brands li.brands__item {
        width: 240px;
    }
    .brands .brands .brands__list {
        column-gap: 32px;
    }
    .brands .brands__container {
        margin-right: 32px;
        margin-left: 32px;
    }
    .brands .brands__title {
        padding-right: 32px;
        padding-left: 32px;
    }
}
