@font-face {
    font-family: "TT Lakes Regular";
    src: url("../fonts/TTLakes-Regular.ttf");
}
@font-face {
    font-family: "TT Lakes Bold";
    src: url("../fonts/TTLakes-Bold.ttf");
}
@font-face {
    font-family: "TT Lakes Medium";
    src: url("../fonts/TTLakes-Medium.ttf");
}
body{
    width: 100%;
    margin: 0;
    font-family: "TT Lakes Regular", "sens-serif";
    background-color: #F8F8F8;
}
li { list-style-type: none; }
hr, h1, ul, p, button, img{ margin: 0; padding: 0 }
img { border: none;}
.button {  background: none; border: none; }

/* Mobile 320 px*/
/* Header */
.header, .content__top-box, .content{
    margin-bottom: 24px;
}
.header {
    display: flex;
    width: inherit;
    height: 87px;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    justify-content: space-between;
    background-color: #fff;
}
.container-positioner {
    display: inherit;
    width: inherit;
    margin-left: 16px;
    margin-right: 16px;
}
.container-positioner--header {
    margin-top: 24px;
    margin-bottom: 17.6px;
}
.header__section--left, .header__section--right {
    display: flex;
    align-items: center;
    justify-content: left;
}
.header__section--right {
    margin-left: auto;
}
.header .header__section--left::after{
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border: none;
    border-radius: 1px;
}
.header__section--right .nav__list {
    display: flex;
}
.header .menu-icon__img {
    margin-right: 16.73px;
}
.header__logo {
    width: 96.55px;
    height: 50.81px;
    margin-right: 16.73px;
}
.icon-1 {
    margin-right: 16px;
}
.icon {
    width: 40px;
    height: 40px;
}
.button {
    display: flex;
    align-items: center;
}
.header__nav .nav__link p{
    display: none;
}
/* hover интерактивным элементам */
.button:hover, .nav__link:hover{
    opacity: 0.7;
    cursor: pointer;
    transition-duration: 1s;
}

/* Main - title */
.main .content__title::before {
    content: "";
    display: table;
    border: 4px solid #41F6D7;
    border-radius: 6px;
    position: absolute;
    left: -4px;
    top: 112px;
    height: 32px;
}
.content__top-box {
    display: flex;
    align-items: center;
    height: 40px;
}
.content .content__title{
    font-family: "TT Lakes Bold", "sens-serif";
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    z-index: 999;
}

/* Main - nav */
.content__nav {
    height: 40px;
    overflow: scroll;
    -ms-overflow-style: none;
    margin-bottom: 24px;
}
.content__nav::-webkit-scrollbar {
    display: none;
}
.content__nav .nav__list {
    display: inline-flex;
}
.content__nav .nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
}
.nav__link, .button__title-text {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}
.content__nav .nav__link {
    display: block;
    color: #7E7E82;
}
.nav__list .nav__item {
    border: 2px solid rgba(184,255,236, 0);;
    border-radius: 6px;
}
.nav__list .nav__item.active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.nav__item.active .nav__link, .content__nav .nav__link {
    margin-left: 16px;
    margin-right: 9.3px;
}
.content__nav .nav__item:last-child {
    margin-right: 16px;
}

/* Градиент в меню */
.content__container--gradient {
    position: relative;
    overflow: hidden;
    margin-left: 16px;
}
.content__container--gradient::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 24px;
    pointer-events: none;
    z-index: 1;
}
.content__container--gradient::after {
    right: 0;
    background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0.01));
}

/* Main - text */
.content__text p {
    margin-bottom: 16px;
}
.text-show-more__icon {
    background-repeat: no-repeat;
    width: 7.4px;
    height: 10.3px;
    margin: 7px 16px 7px 8px;
}
.content__button {
    font-family: "TT Lakes Medium", "sens-serif";
    margin: 16px 0;
}
.content__image{
    height: 176px;
    position: absolute;
    left: 0;
}
.content__text--paragraf {
    max-height: 7lh;
    overflow: hidden;
}


/* Middle screen 321 px */
@media (min-width: 321px) {
    .header .header__section--left::after {
        display: none;
    }
    .container-positioner {
        margin-left: 24px;
        margin-right: 24px;
    }
    /* Header */
    .header .menu-icon__button::after{
        content: "";
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border: none;
        border-radius: 1px;
        margin-right: 20px;
    }

    /* Main */
    .content__container--gradient {
        margin-left: 24px;
    }
    .content__image {
        width: 100%;
        height: auto;
    }
    .content__button {
        margin-top: 10px;
    }

}

@media (min-width: 550px) {
    /* Main */
    .content__second-part {
        display: flex;
        align-items: start;
    }
    .content__second-part .content__text,  .content__second-part .content__image{
        width: 50%;
    }
    .content__text {
        margin-right: 48px;
    }
    .content__second-part .content__image{
        margin-left: auto;
        position: static;
    }
    .content__image {
        border-radius: 10px;
    }
}

/* High screen 769 px */
@media (min-width: 768px) {
    .container-positioner--header {
        margin-top: 42px;
    }
    .container-positioner {
        margin-left: 35px;
        margin-right: 35px;
    }
    /* Header */
    .header {
        position: absolute;
        top: 0;
        background-color: inherit;
        border: none;
    }
    .header__section--left {
        display: none;
    }
    .header__nav .nav__link {
        display: flex;
        align-items: center;
    }
    .header__nav .nav__link p {
        font-family: "TT Lakes Medium", "sens-serif";
        color: #1B1C21;
        display: block;
        margin-right: 8px;
    }

    /* Main */
    .main {
        margin-top: 36px;
    }
    .blue-line {
        clip-path: none;
        left: 0;
        width: 3px;
    }
    .main .content__title::before {
        content: "";
        display: table;
        border-radius: 6px;
        position: absolute;
        left: 0;
        top: 42px;
        height: 40px;
        width: 3px;
        background-color: #41F6D7;
        border: none
    }
    .content__container--gradient {
        margin-left: 35px;
    }
    .content__nav {
        height: auto;
    }
    .content__nav .nav__list {
        flex-wrap: wrap;
    }
    .content__text--paragraf {
        max-height: max-content;
        overflow: hidden;
    }
    .content__text {
        margin-right: 36px;
    }
    .content__button {
        margin-top: 13px;
    }
}
