.brands__container {
  background-color: #F8F8F8;
}
.homepage-brands {
  margin-bottom: 24px;
}
.brands .brands__title,
.technics .technics__title,
.prices .prices__title {
  padding: 15px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid #D9FFF5;
}
.brands .brands__container {
  margin-top: 16px;
}
.brands .brands__list {
  display: flex;
}
.brands .brands__item {
  width: 240px;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.brands__text-show-more-icon {
  transform: rotate(0deg);
  transition-duration: 0.5s;
}
.brands__text-show-more-icon.brands__text-show-more-icon--rotate {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.brands__btn::after {
  content: "Показать все";
  display: inline;
}
.brands__btn--rotate::after {
  content: "Скрыть";
  display: inline;
}
.brands .brands__btn {
  display: none;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .brands__container {
    margin-right: 24px;
    margin-left: 24px;
  }
  .brands .brands__container {
    margin-top: 24px;
  }
  .brands .brands__list {
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
    margin-bottom: 24px;
    justify-content: flex-start;
  }
  .brands li.brands__item {
    width: 224px;
  }
  .brands .brands__btn {
    display: flex;
    margin-bottom: 14px;
  }
  .brands .brands__title {
    padding-left: 24px;
    padding-right: 24px;
  }
  .brands .brands__item:hover {
    border: 2px solid #B8FFEC;
  }
}

@media (min-width: 1120px) {
  .brands .brands li.brands__item {
    width: 240px;
  }
  .brands .brands__list {
    column-gap: 32px;
  }
  .brands .brands__container {
    margin-right: 32px;
    margin-left: 32px;
  }
  .brands .brands__title {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (min-width: 1366px) {
  .brands .brands__btn {
    margin-left: 8px;
  }
  .brands .brands__list{
    justify-content: center;
  }
  .brands .brands__item:nth-last-child(-n+3) {
    position: relative;
    left: -125px;
  }
}
/* sliderItem count */
@media (min-width: 767px) and (max-width: 1015px){
  .brands__item.hidden:not(:nth-child(-n + 6)) {
    display: none;
  }
  .brands .brands__list{
    justify-content: center;
  }
  .brands .brands__item:nth-last-child(-n + 2) {
    position: relative;
    left: -125px;
  }
}
@media (min-width: 1016px) {
  .brands__item.hidden:not(:nth-child(-n + 8)) {
    display: none;
  }
  .brands .brands__list {
    justify-content: center;
  }
  .brands .brands__item:nth-last-child(-n + 3) {
    position: relative;
    left: -125px;
  }
}
@media (min-width: 1376px) {
  .brands__item.hidden:not(:nth-child(-n + 10)) {
    display: none;
  }
}
