li { list-style-type: none; }
body, hr, h1, h2, ul, p, button, img{ margin: 0; padding: 0 }
h2, ul {
  padding-inline-start: inherit;
  font-weight: normal;
  margin-block-start: auto;
  margin-block-end: auto;
}
img { border: none;}
.button {  background: none; border: none; }
.address { font-style: normal; display: inherit}
.link { text-decoration: none; color: inherit }
.brands__btn:focus,
.technics__btn:focus,
.prices__btn:focus,
button:active {
  outline: none;
}
