/* Общие */
@font-face {
  font-family: "TT Lakes Regular";
  src: url("../fonts/TTLakes-Regular.ttf");
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("../fonts/TTLakes-Bold.ttf");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("../fonts/TTLakes-Medium.ttf");
}
body{
  width: 100%;
  font-family: "TT Lakes Regular", "sens-serif";
  background-color: #F8F8F8;
}
/* Mobile 320 px*/
.container-positioner {
  display: inherit;
  width: inherit;
  margin-left: 16px;
  margin-right: 16px;
}

.icon-1 {
  margin-right: 16px;
}
.icon {
  width: 40px;
  height: 40px;
}
.button {
  display: flex;
  align-items: center;
  font-family: "TT Lakes Medium", "sens-serif";
  cursor: pointer;
}
.button:hover, .nav__link:hover,
.button:hover, .link:hover,
.address__email:hover,
.address__phone:hover{
  opacity: 0.7;
  cursor: pointer;
  transition-duration: 1s;
}
.blue-line {
  clip-path: none;
  left: 0;
  width: 3px;
}
.content__show-more-icon,
.brands__text-show-more-icon,
.technics__text-show-more-icon {
  background-repeat: no-repeat;
  width: 7.4px;
  height: 10.3px;
  margin: 7px 16px 7px 8px;
}
.h2-title {
  font-family: "TT Lakes Regular";
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
  text-transform: uppercase;
}
.slider-item {
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  box-sizing: border-box;
}
@media (min-width: 578px) {
  .container-positioner {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media (min-width: 768px) {
  .container-positioner {
    margin-left: 24px;
    margin-right: 24px;
  }
}
