.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #7E7E82;
  padding-bottom: 19px;
  padding-top: 16px;
  border-top: 1px solid #D9FFF5;
  font-family: "TT Lakes Medium", "sens-serif";
  font-size: 14px;
  line-height: 16px;
}
.footer.hidden {
  display: none;
}
.footer__policy,
.footer__public-offerta {
  margin-top: 16px;
}
.footer__public-offerta {
  margin-right: 4px;
  margin-left: 4px;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: flex-start;
    padding: 32px 24px 25px 24px;
    justify-content: space-between;
    text-align: left;
  }
  .footer .footer_command-year,
  .footer .footer__policy,
  .footer .footer__public-offerta {
    width: 31%;
  }
  .footer__policy, .footer__public-offerta {
    margin-top: 0;
  }
}
@media (min-width: 1366px) {
  .footer {
    margin-left: 320px;
    padding: 59px 32px 21px 32px;
  }
}
