/* Градиент в меню */
.content__container--gradient {
  position: relative;
  overflow: hidden;
  margin-left: 16px;
}
.content__container--gradient::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;
  pointer-events: none;
  z-index: 1;
}
.content__container--gradient::after {
  right: 0;
  background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0.01));
}
@media (min-width: 768px) {
  /* Main - gradient */
  .content__container--gradient {
    margin-left: 24px;
  }
}

/* Градиент в слайдерах */
.brands .brands-container--gradient,
.technics .technics-container--gradient,
.prices .prices-container--gradient{
  position: relative;
  overflow: hidden;
}
.brands .brands-container--gradient::after,
.technics .technics-container--gradient::after,
.prices .prices-container--gradient::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;
  pointer-events: none;
  z-index: 1;
  right: 0;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
