.header {
  display: flex;
  width: inherit;
  height: 87px;
  align-items: center;
  border-bottom: 1px solid #D9FFF5;
  justify-content: space-between;
  background-color: #fff;
}
.header.hidden {
  display: none;
}
.container-positioner--header {
  margin-top: 24px;
  margin-bottom: 17.6px;
}
.header__section--left, .header__section--right {
  display: flex;
  align-items: center;
  justify-content: left;
}
.header__section--right {
  margin-left: auto;
}
.header .header__section--left::after{
  content: "";
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border: none;
  border-radius: 1px;
}
.header__section--right .nav__list {
  display: flex;
}
.header .header__menu-img {
  margin-right: 16.73px;
}
.header__logo {
  width: 96.55px;
  height: 50.81px;
  margin-right: 16.73px;
}
.header__nav .nav__link p{
  display: none;
}

/* Mobile 320 px*/
/* Header */
.header, .content__top-box, .content{
  margin-bottom: 24px;
}
.container-positioner--header {
  margin-top: 24px;
  margin-bottom: 17.6px;
}

@media (min-width: 321px) {
  .header .header__section--left::after {
    display: none;
  }
  .header .header__menu-btn::after{
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border: none;
    border-radius: 1px;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {

  .header__nav .nav__link {
    display: flex;
    align-items: center;
  }
  .header__nav .nav__link p {
    font-family: "TT Lakes Medium", "sens-serif";
    color: #1B1C21;
    display: block;
    margin-right: 8px;
  }
}
@media (min-width: 1366px) {
  .container-positioner--header {
    margin-top: 42px;
  }
  .header {
    position: absolute;
    top: 0;
    background-color: inherit;
    border: none;
  }
  .header__section--left {
    display: none;
  }
}


