/* Main */
.main.hidden {
  display: none;
}
.content__text p {
  margin-bottom: 16px;
}
.content__text--paragraf {
  max-height: 7lh;
  overflow: hidden;
}
.content__button {
  margin: 16px 0;
}
.content__button::after {
  content: 'Читать далее';
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}
.content__button--non-show::after {
  content: 'Скрыть';
}
.content__image{
  width: calc(100% + 16px);
  height: auto;
  position: relative;
  left: -16px;
}
.content__second-part {
  margin-bottom: 24px;
}
.content__bottom-text,
.content__bottom-btn {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}
.content__bottom-btn {
  display: inline;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.content__take-commerce-icon {
  width: 6px;
  height: 11.45px;
  margin-left: 9px;
  position: relative;
  top: 2px;
}
@media (min-width: 578px) {
  .content__image {
    width: 100%;
    height: auto;
  }
  .content__button {
    margin-top: 10px;
  }
}
@media (min-width: 550px) {
  .content__second-part {
    display: flex;
    align-items: start;
  }
  .content__second-part .content__text,  .content__second-part .content__image{
    width: 50%;
  }
  .content__text {
    margin-right: 48px;
  }
  .content__second-part .content__image{
    margin-left: auto;
    position: static;
  }
  .content__image {
    border-radius: 10px;
  }
}
@media (min-width: 768px) {
  .main {
    margin-top: 36px;
  }
  .content__text--paragraf.show {
    max-height: max-content;
  }
  .content__show-more-icon {
    transform: rotate(0deg);
    transition-duration: 0.5s;
  }
  .content__show-more-icon.rotate {
    transform: rotate(180deg);
    transition: 0.5s;
  }
  .content__text {
    margin-right: 36px;
  }
  .content__button {
    margin-top: 13px;
  }
  .content__bottom-text,
  .content__bottom-btn {
    margin-left: 24px;
    margin-right: 24px;
  }
  .content__bottom-text {
    width: 62%;
  }
}
@media (min-width: 1366px) {
  .main {
    margin-left: 320px;
  }
  .content__second-part {
    margin-bottom: 51px;
  }
  .content__text--paragraf {
    margin-top: 9px;
  }
  .content__bottom-text {
    width: 45%;
  }
  .content__bottom-btn,
  .content__bottom-text {
    margin-left: 32px;
    margin-right: 32px;
  }
}
