/* Main - nav */
.content__nav {
  height: 40px;
  overflow: scroll;
  -ms-overflow-style: none;
  margin-bottom: 24px;
}
.content__nav::-webkit-scrollbar {
  display: none;
}
.content__nav .nav__list {
  display: inline-flex;
}
.content__nav .nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
}
.nav__link, .button__title-text {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}
.content__nav .nav__link {
  display: block;
  color: #7E7E82;
}
.nav__list .nav__item {
  border: 2px solid rgba(184,255,236, 0);;
  border-radius: 6px;
}
.nav__list .nav__item.active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}
.nav__item.active .nav__link, .content__nav .nav__link {
  margin-left: 16px;
  margin-right: 9.3px;
}
.content__nav .nav__item:last-child {
  margin-right: 16px;
}
@media (min-width: 768px) {
  .content__nav {
    height: auto;
  }
}
@media (min-width: 1366px) {
  .content__nav .nav__list {
    flex-wrap: wrap;
    gap: 10px;
  }
  .content__nav {
    margin-bottom: 7px;
  }
}

