.container-positioner--modal-menu {
  margin-right: 24px;
  margin-left: 24px;
}
.modal-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  box-shadow: 16px 0px 52px 0px #0E185033,
  -2px 0px 4px 0px #454F7E05;
  background-color: #fff;
  z-index: 20;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.modal-menu::after{
  content: "";
  display: table;
  width: calc(100% - 320px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFF;
  filter: opacity(0.96);
  z-index: 10;
}
.modal-menu::before{
  content: "";
  display: inline;
  width: 16px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 320px;
  filter: opacity(0.96);
  z-index: 100;
  background: linear-gradient(to right, #0E185033, #454F7E05);
}
.modal-menu.hidden {
  display: none;
}
/* Modal Header */
.container-positioner--modal-menu__top {
  margin-top: 18.23px;
  margin-bottom: 42.27px;
}
.modal-menu .modal-menu__top {
  display: flex;
}
.modal-menu .modal-menu__close-icon {
  margin-right: 16.73px;
}
.modal-menu .modal-menu__search-btn {
  margin-left: auto;
}
.modal-menu__logo {
  margin-right: 16.73px;
}

/* Modal Middle */
.modal-menu .modal-menu__middle .nav__li {
  display: flex;
  height: 32px;
  margin-bottom: 26px;
}
.modal-menu .modal-menu__middle .nav__li.active::before {
  content: "";
  display: table;
  width: 8px;
  height: 32px;
  background-color: #41F6D7;
  position: absolute;
  left: -4px;
  border-radius: 6px;
}
.modal-menu .modal-menu__middle .nav__link,
.modal-menu .address__email,
.modal-menu .modal-menu__langs .langs__li a{
  font-family: "TT Lakes Medium";
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.modal-menu__adress {
  margin-bottom: 40px;
}
.modal-menu__langs {
  margin-bottom: 32px;
}
.modal-menu .modal-menu__middle .nav__li.active a,
.modal-menu .langs__li.active a{
  color: #7E7E82;
  align-self: center;
}


/* Modal Bottom */
.modal-menu .modal-menu__bottom {
  margin-top: 30px;
}
.modal-menu .links,
.modal-menu .langs {
  display: flex;
}
.modal-menu .modal-menu__links {
  margin-bottom: 16px;
}
.modal-menu .modal-menu__links .button {
  margin-right: 16px;
}
.modal-menu .address__email,
.modal-menu .address__phone {
  display: block;
  text-decoration: none;
}
.modal-menu .address__email {
  margin-bottom: 12px;
}
.modal-menu .address__phone {
  font-family: "TT Lakes Bold";
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  color: #1B1C21;
}
.modal-menu .modal-menu__langs .langs__li {
  margin-right: 7px;
}
@media (min-width: 1366px) {
  .modal-menu.hidden {
    display: block;
  }
  .modal-menu:after,
  .modal-menu::before {
    display: none;
  }
  .modal-menu {
    height: 100%;
    position: fixed;
    box-shadow: none;
  }
  .modal-menu .modal-menu__close-btn {
    display: none;
  }
}
