.prices .prices__title {
  padding: 15px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid #D9FFF5;
}
.prices__text-show-more-icon {
  transform: rotate(0deg);
  transition-duration: 0.3s;
}
.prices__text-show-more-icon.prices__text-show-more-icon--rotate {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}
.prices__btn--rotate::after {
  content: "Скрыть";
  display: table;
}
.prices__btn--non-rotate::after {
  content: "Показать все";
  display: table;
}
.prices .prices__btn {
  display: none;
  margin-bottom: 34px;
}
.prices .prices__card-content-list {
  padding: 16px;
}
.prices .prices__card-content:last-child {
  margin-bottom: 0;
}
.prices .prices__list {
  display: flex;
}
.prices .prices__item {
  position: relative;
  width: 260px;
  height: 200px;
  box-sizing: border-box;
}
.prices .prices__card-content {
  margin-bottom: 16px;
}
.prices .prices__card-title {
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  margin-bottom: 4px;
}
.prices .prices__link {
  font-family: "TT Lakes Bold";
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 16px 4px 12px;
  border-radius: 30px;
  background-color: #FF3E79;
  width: 119px;
  height: 32px;

  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 16px;
  margin-right: 16px;
}
.prices .prices__dropdown-icon {
  width: 7px;
  margin-left: 17px;
}
@media (min-width: 576px) {
  .prices .prices__btn{
    display: flex;
    margin-bottom: 14px;
  }
  .prices .prices__title {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 768px) {
  .prices .prices__list {
    margin-right: 24px;
    margin-left: 24px;
    flex-wrap: wrap;
  }
  .prices .prices__item {
    width: 100%;
  }
  .prices .prices__card-title {
    display: none;
  }
  .prices .prices__item {
    height: 64px;
  }
  .prices .prices__card-text {
    margin-top: auto;
    margin-bottom: auto;
  }
  .prices .prices__card-content-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .prices .prices__card-content-list {
    width: 100%;
    font-size: 14px;
    padding-right: 0;
  }
  .prices__card-content-list .prices__card-content:first-child {
    margin-right: 24px;
    width: 69%;
  }
  .prices__card-content-list .prices__card-content:nth-child(2) {
    margin-right: 22px;
    width: 14.8%;
  }
  .prices__card-content-list .prices__card-content:last-child {
    width: 16.2%;
    /*margin-right: 0;*/
  }
  .prices .prices__link {
    width: 119px;
    position: static;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 20px;
  }
  .prices .prices__card-content {
    margin-bottom: 0;
  }
}
