.homepage-technics {
  margin-bottom: 24px;
}
.technics .technics__title {
  padding: 15px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid #D9FFF5;
}
.technics__text-show-more-icon {
  transform: rotate(0deg);
  transition-duration: 0.5s;
}
.technics__text-show-more-icon.rotate {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.technics__btn::after {
  content: "Показать все";
  display: inline;
}
.technics__btn--rotate::after {
  content: "Скрыть";
}
.technics .technics__btn {
  display: none;
  margin-bottom: 34px;
}
.technics .technics__list {
  display: flex;
}
.technics .technics__item {
  height: 160px;
  width: 240px;
}
.technics .technics__link {
  align-self: end;
  margin-left: auto;
  margin-right: 16px;
  margin-bottom: 16px;
}
.technics .technics__text {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .technics .technics__btn {
    display: flex;
    margin-bottom: 14px;
    margin-left: 16px;
  }
  .technics .technics__title {
    padding-left: 24px;
    padding-right: 24px;
  }
  .technics .technics__item {
    width: 224px;
    /*margin-right: 24px;*/
  }
  .technics .technics__item:nth-child(3n) {
    /*margin-right: 0;*/
  }
  .technics .technics__list {
    flex-wrap: wrap;
    margin-right: 24px;
    margin-left: 24px;
    column-gap: 24px;
    row-gap: 16px;
    justify-content: space-around;
  }
}
@media (min-width: 1120px) {
  .technics .technics__title {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (min-width: 1366px) {
  .technics .technics__item {
    width: 220px;
  }
  .technics .technics__list {
    margin-right: 32px;
    margin-left: 32px;
  }
  .technics .technics__btn {
    margin-left: 40px;
  }
}
/* sliderItem count */
@media (min-width: 767px) and (max-width: 1015px){
  .technics__item.hidden:not(:nth-child(-n + 3)) {
    display: none;
  }
  .technics .technics__list {
    justify-content: center;
  }
  .technics .technics__item:nth-last-child(-n + 2) {
    position: relative;
    left: -125px;
  }

}
@media (min-width: 1016px) {
  .technics__item.hidden:not(:nth-child(-n + 4)) {
    display: none;
  }
}
@media (min-width: 1376px) {
  .technics__item.hidden:not(:nth-child(-n + 5)) {
    display: none;
  }
}
